[submodule "nvim"]
	path = env/.config/nvim
	url = git@github.com:Ragudos/linux-config.nvim
[submodule "env/.config/nvim"]
	path = env/.config/nvim
	url = git@github.com:Ragudos/linux-config.nvim.git
