[core]
	pager = cat
	editor = vim
[commit]
    gpgsign = true
[includeIf "gitdir:~/personal/"]
	path = ~/personal/.gitconfig
[includeIf "gitdir:~/school/"]
    path = ~/school/.gitconfig
[includeIf "gitdir:~/work/"]
    path = ~/work/.gitconfig
